/* src/styles/variables.css */

:root {

  --primary-color:
    #6c63ff;

  --secondary-color:
    #00d4ff;

  --background-color:
    #080810;

  --card-background:
    rgba(255,255,255,0.04);

  --border-color:
    rgba(255,255,255,0.08);

  --text-light:
    #b5b5c3;

  --white:
    #ffffff;
}